@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1300px;
    overflow: auto;
    margin: 0 auto;
    padding: 0 20px;
}

html,
body {
    font-family: "Roboto", sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

h2 {
    text-transform: uppercase;
}

#mainheader {
    background: url("/img/showcase.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#navbar {
    color: #fff;
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  #navbar a {
    color: #fff;
  }
  
  #navbar .logo {
    float: left;
    padding-top: 16px;
    font-size: 30px;
    text-transform: uppercase;
  }
  
  #navbar ul {
    list-style: none;
    float: right;
  }
  
  #navbar ul li {
    float: left;
  }
  
  #navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
  }
  
  #navbar ul li a:hover,
  #navbar ul li a.current {
    text-decoration: underline;
  }

/* showcase */
.showcase-title {
    margin-right: 600px;
    font-weight: lighter;
    font-size: 50px;
    margin-bottom: 20px;
}

.showcase-text {
    margin-right: 600px;
   float: left;
   margin-bottom: 20px;
}

.card-row {
    padding-top: 20px;
  }

.card {
    float: left;
    width: 33%;
    height: 200px;
    padding: 90px;
    text-align: center;
    margin: 2px;
}

.card-1 {
    background: url('/img/perseverance.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-2 {
    background: url('/img/missions.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-3 {
    background: url('/img/future.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* disclaimer */
#disclaimer {
    background:url("/img/feature.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.disclaimer-text {
    padding: 100px;
    text-align: center;
    font-size: 20px;
}

/* pers-miss */
#pers-miss {
    background: url("/img/background-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
  padding-bottom: 20px;
}

.pers-miss-row-text-1 {
    float: left;
    width: 60%;
    padding-top: 70px;
    padding-right: 90px;
}

.pers-miss-row-img-1 {
    float: right;
    width: 40%;
}

.pers-miss-row-img-1 img{
    height: 300px;
}

.pers-miss-row-text-2 {
    float: right;
    width: 60%;
    padding-top: 200px;
    padding-left: 90px;
}

.pers-miss-row-img-2 {
    float: left;
    width: 40%;
    padding-top: 200px;
    
}

.pers-miss-row-img-2 img{
    height: 300px;
    
}

#feature {
    background: url("/img/background-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
}

#feature .feature-title {
    padding: 10px;
    text-align: center;
}

#feature img {
    text-align: center;
    height: 400px;
  padding: 90px 0;
  display: block;
  margin: 0 auto;
}

#contact {
    background: #fc7303e5;
}

#contact form {
    width: 40%;
    margin: 0 auto;
}

#contact h2 {
    text-align: center;
    padding: 30px;
}

form .form-control {
    display: block;
    width: 100%;
    background: grey;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: .5rem;
    border-radius: 5px;
}

form button {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
}

#footer {
    padding: 30px;
    background: #000;
    text-align: center;
}